.contacts {
  &__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
  }

  &__description {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }

  &__telephone,
  &__email,
  &__address {
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #D22856;
  }

  &__image {
    height: 200px;
    background-image: url("../../../img/map.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}
