.contacts__address {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
  margin-bottom: 41px;
}

.contacts__telephone {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
  margin-bottom: 31px;
}

.contacts__email {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
  margin-bottom: 41px;
}

.contacts__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 50px auto 45px auto;


  @media (min-width: $tablet-width) {
    margin: 55px auto 51px auto;
    font-size: 40px;
    line-height: 51px;
  }

  @media (min-width: $desktop-width) {
    margin: 74px auto 61px auto;
    font-size: 40px;
    line-height: 64px;
  }

}

.contacts__image {
  height: 200px;
  background-image: url("../img/map.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__deskription {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 13px;
}

.contacts__list {
  list-style-type: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 300px;
    align-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 300px 300px 300px;
    align-content: space-between;
  }
}

.contacts__item:nth-child(3n) {
  @media (min-width: $tablet-width) {
    width: 600px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    grid-column-start: 2;
    grid-row-start: 1;
  }

}

.contacts__item {
  display: block;

  @media (min-width: $tablet-width) {}

  @media (min-width: $desktop-width) {}
}
