.header {
  color: #ffffff;
  text-align: center;
  background-color: #283645;
  background-image: url("../img/back-mobile.png");
  //width: 320px;
  //height: 462px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0;

}
