.header-footer {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-bottom: 38px;
  color: #ffffff;
  background: #1d2631;
  position: relative;


  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 300px;
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-bottom: 130px;
    margin-left: 0;
  }
}

.header-footer-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    width: 960px;

  }
}

.header-footer__button {
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin: 0 0;
  padding-top: 21px;
  padding-bottom: 21px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }

}


.header-footer__slogan {
  margin: 29px auto 34px auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  @media (min-width: $mobile-width-only) {
    position: absolute;
    top: -420px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    margin: 0;
    margin-bottom: 39px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
    font-size: 50px;
    line-height: 68px;
  }
}
