.header-header {
  margin: 0 auto;
  //background-color: #00000030;
  background-color: #283645;

  //margin-bottom: 110px;

  @media (min-width: $tablet-width) {
    //margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    background-color: #00000030;
  }
}
