.header-footer {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-bottom: 38px;
  color: #ffffff;
  background: #1d2631;
  position: relative;


  @media (min-width: $tablet-width) {
    width: 300px;
    padding-bottom: 119px;
    background: none;
    margin-left: 20px;
  }

  @media (min-width: $desctop-width) {
    padding-top: 16px;
    padding-bottom: 130px;
    margin-left: 130px;
  }
}

.header-footer__button {
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin: 0 20px;
  padding-top: 21px;
  padding-bottom: 21px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desctop-width) {
    font-size: 21px;
  }

}


.header-footer__slogan {
  margin: 29px 20px 34px 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  @media (min-width: $mobile-width-only) {
    position: absolute;
    top: -400px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    margin: 0;
    margin-bottom: 39px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 51px;
    font-size: 50px;
    line-height: 68px;
  }
}
