.main-header__background {
  background-image: url("../img/back-mobile.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #283645;
}
