.price {
  background: #f2f2f2;
  padding-top: 83px;
  padding-bottom: 49px;
}

.price__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__table {
  margin: 0 auto;
  margin-bottom: 49px;
}
