.site-list__item {
  text-decoration: none;
  text-align: center;

  @media (min-width: $tablet-width) {}

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-right: 78px;
  }
}

.site-list__item-legend {
  display: block;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.site-list__item:last-child {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
