.page__container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desctop-width) {
    width: 1200px;
  }
}

.page__body {
  margin: 0;
}

