.catalog-header {
  background-image: url("../../../img/back-mobile.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #283645;

  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
  }
}
