.upload__button-post {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 21px 90px 21px 91px;
}

.upload__button-reset {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #283645;
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 21px 103px 21px 104px;
}

.upload__container {
  background: #f2f2f2;
}

.upload__legend {
  line-height: 30px;
  text-align: center;
}
