.upload {
  &__legend {
    line-height: 30px;
    text-align: center;
  }

  &__container {
    background: #F2F2F2;
  }

  &__button-post {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #D22856;
    border: 3px solid #D22856;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 21px 90px 21px 91px;
  }

  &__button-reset {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #283645;
    border: 3px solid #283645;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 21px 103px 21px 104px;
  }
}
