.user-post__head-text {
  line-height: 30px;
  text-align: center;
}

.user-post__info {
  background: #f2f2f2;
}

.user-post__like-counter {
  color: #d22856;
}

.user-post__name {
  font-weight: 700;
}

.user-post__time {
  font-weight: 300;
}
