.form-main {
  &__legend {
    text-align: center;
    line-height: 30px;
  }

  &__app {
    background: #F2F2F2;
  }

  &__contacts-telephone,
  &__contacts-email {
    line-height: 30px;
    text-transform: uppercase;
    color: #D22856;
  }

  &__name {
    text-transform: uppercase;
    line-height: 30px;
    color: #D22856;
  }

  &__emotions-label {
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #D22856;
  }

  &__button {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #2AAB6D;
    border: 2px solid #2AAB6D;
    border-radius: 1px;
    padding: 23px 45px;
  }

  &__end-legend {
    line-height: 30px;
    text-transform: uppercase;
    color: #D22856;
  }
}
